@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 148, 192, 252;
  --background-start-rgb: 98, 176, 248;
  --background-end-rgb: 24, 38, 83
}


@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 148, 192, 252;
    --background-start-rgb: 98, 176, 248;
    --background-end-rgb: 24, 38, 83
  }
}


body {
  font-family: 'Lexend', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  color: floralwhite;
  font-family: 'Lexend', serif;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.min-h-screen {
  min-height: 100vh;
}

@media (min-width: 640px) {
  .text-lg {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .text-xl {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .text-2xl {
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .text-3xl {
    font-size: 1.875rem;
  }
}

@media (min-width: 1536px) {
  .text-4xl {
    font-size: 2.25rem;
  }
}