@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 148, 192, 252;
  --background-start-rgb: 98, 176, 248;
  --background-end-rgb: 24, 38, 83
}
html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 148, 192, 252;
    --background-start-rgb: 98, 176, 248;
    --background-end-rgb: 24, 38, 83
  }
}


body {
  font-family: 'Raleway', sans-serif;
  color: rgb(245, 239, 228);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  
}

@layer base {
h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
  font-family: 'Raleway', sans-serif;
}

h1 {
  @apply text-4xl sm:text-5xl md:text-6xl;
}

h2 {
  @apply text-3xl sm:text-4xl;
}

li {
  @apply cursor-pointer;
}


}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.min-h-screen {
  min-height: 100vh;
}

@media (min-width: 640px) {
  .text-lg {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .text-xl {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .text-2xl {
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .text-3xl {
    font-size: 1.875rem;
  }
}

@media (min-width: 1536px) {
  .text-4xl {
    font-size: 2.25rem;
  }
}
