@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 148, 192, 252;
  --background-start-rgb: 98, 176, 248;
  --background-end-rgb: 24, 38, 83
}


@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 148, 192, 252;
    --background-start-rgb: 98, 176, 248;
    --background-end-rgb: 24, 38, 83
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


h1, h2, h3, h4, h5, h6 {
  color: floralwhite;
}
